/* header section styling */

.header .container {
  width: 85%;
  margin: auto;
}

.header .container figure.logo .logo-image {
  max-width: 100%;
}

.header .container figure.logo figcaption {
  position: relative;
  top: -3rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--accent-color-3);
}

/* main section styling */

.main .container {
  width: 85%;
  margin: auto;
}

.main .container figure.illustration .travel-image {
  width: 330px;
  margin-bottom: 1rem;
}

.main .container .illustration figcaption {
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  color: var(--accent-color-3);
  margin-bottom: 3.5rem;
}

.main .container .start-journey {
  text-align: center;
}

.main .container .start-btn {
  border: none;
  color: #fff;
  background-color: #fcaf0d;
  font-weight: bold;
  font-family: "Rubik";
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.main .container .start-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 6px;
}
